.popup {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.2);

  &__content {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__close {
    cursor: pointer;
  }

  &__create {
    align-self: flex-end;
    cursor: pointer;
  }

  input {
    margin: 20px 0px;
  }
}
